{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<h1>Editar Funcionário</h1>

<div class="edit-form">
    <form  method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        {{ form|crispy }}
    
        <button id="btn_save" type="submit">
          Salvar
        </button>

        <a href="{% url 'home' %}">
            <button type="button">
              Voltar
            </button>
          </a>
      </form>
</div>
{% endblock content %}
